<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="shortcut icon" href="{% static 'our_pizzeria/images/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'our_pizzeria/css/base.css' %}">
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <header>
                <a href="{% url 'our_pizzeria:index' %}"><h1>Our Pizzeria</h1></a>
                <p><small><em>by</em> <a href="{% url 'pizza:index' %}" target="_blank">
                    Order a Pizza
                </a></small></p>
            </header>
            <section>
                {% block main_section %}
                {% endblock %}
            </section>
        </div>
    </body>
</html>