{% extends 'our_pizzeria/base.html' %}
{% load static %}

{% block title %}
    <title>Status of order #{{ order.id }}</title>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'our_pizzeria/css/order.css' %}">
{% endblock %}

{% block main_section %}
    <h2 align="center">Order #{{ order.id }} </h2>
    <h4><em>Status:</em> {{ order.get_status_display }}</h4>
    <h4><em>Orderer:</em> {{ order.orderer_name }}</h4>
    <h4><em>Pizza:</em> {{ order.pizza }}</h4>
    <h4><em>Drink:</em> {{ order.drink }}</h4>
    <h4><em>Delivery date:</em> {{ order.date_of_delivery }}</h4>
{% endblock %}