form {
    margin-bottom: 10px;
}
h3 {
    margin-bottom: 1px;
}
p {
    margin: 0;
}
input {
    margin-right: 5px;
}
button {
    margin: 5px 5px auto auto;
}
img {
    display: inline;
    vertical-align: middle;
    /*margin-bottom: -6px;*/
}